html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.container{
  background-color: aqua;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app{
  background-color: royalblue;
}
.marcado{
  background-color: green;
}
.desmarcado{
  background-color: red;
}